.focus li{
    list-style: none;
}

main{
    background: url("/gallery/kbtu_background.png") fixed repeat-x;
    background-size: cover;
    backdrop-filter: blur(10px);
    color: aliceblue;
    min-height: calc(100vh - 170px);
}

.main_part::before{
    background-color: rgba(0, 0, 0, 0,5);
}